root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.cpp]
indent_size = 2

[*.h]
indent_size = 2

[*.hpp]
indent_size = 2

[package.xml]
indent_size = 1

[*.yml]
indent_size = 4
indent_style = space
