*~
*.a
acinclude.m4
aclocal.m4
autom4te.cache
build
cmake-build-debug
CMakeLists.txt
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.ac
configure.in
coverage.info
.deps
.dirstamp
gmon*
.idea
install-sh
*.la
.libs
libtool
*.lo
*.log
ltmain.sh
ltmain.sh.backup
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
missing
mkinstalldirs
modules
nbproject
*.o
*.out
.*project
run-tests.php
specs
test_coverage
test.php
tests/*.diff
tests/*.exp
tests/*.php
tests/*.sh
tmp-php.ini

/result*
