/cli/.deps/
/cli/autom4te.cache/
/cli/Makefile
/cli/Makefile.in
/cli/aclocal.m4
/cli/config.h
/cli/config.h.in
/cli/config.log
/cli/config.status
/cli/configure
/cli/depcomp
/cli/install-sh
/cli/missing
/cli/mustachec
/cli/mustachec-jsonlint.o
/cli/mustachec-mustachec.o
/cli/stamp-h1
/nbproject/private/
/php/.libs/
/php/autom4te.cache
/php/build
/php/modules
/php/tests/*.diff
/php/tests/*.exp
/php/tests/*.log
/php/tests/*.out
/php/tests/*.php
/php/tests/*.sh
/php/Makefile
/php/Makefile.fragments
/php/Makefile.global
/php/Makefile.objects
/php/acinclude.m4
/php/aclocal.m4
/php/config.guess
/php/config.h
/php/config.h.in
/php/config.log
/php/config.nice
/php/config.status
/php/config.sub
/php/configure
/php/configure.in
/php/install-sh
/php/libtool
/php/ltmain.sh
/php/missing
/php/mkinstalldirs
/php/mustache.la
/php/php_mustache.lo
/php/php_mustache_methods.lo
/php/run-tests.php
/specs
/src/.deps/
/src/.dirstamp
/src/mustache.o
/src/mustachec-mustache.o