/nbproject/private/
/php/autom4te.cache
/php/build
/php/Makefile.global
/php/acinclude.m4
/php/aclocal.m4
/php/config.guess
/php/config.h.in
/php/config.sub
/php/configure
/php/configure.in
/php/install-sh
/php/ltmain.sh
/php/missing
/php/mkinstalldirs
/php/run-tests.php
/specs