name: osx

on:
    push:
        branches:
            - master
            - github-actions
            - ci
    pull_request:
        branches:
            - master

jobs:
    osx:
        runs-on: macos-latest
        strategy:
            fail-fast: false
            matrix:
                PHP_VERSION:
                    - "7.4"
                    - "8.0"
                    - "8.1"
        steps:
            - uses: actions/checkout@v2
              with:
                submodules: recursive
            - name: I am tired of writing this shit in YAML and learning a new DSL for every CI service so I'm putting everything in a FSCKING BASH SCRIPT
              env:
                  PHP_VERSION: ${{ matrix.PHP_VERSION }}
              run: bash ./.github/scripts/osx.sh
